.footer-social {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.social-footer-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-items: left;
  margin-top: 20px;
}
.social-item:not(last-child) {
  margin-right: 10px;
}
.footer-right {
  margin-left: 70px;
  margin-top: -25px;
}
.footer-link__inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.social-item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.social-link {
  width: 44px;
  height: 44px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  &:focus {
    background-color: #2196f3;
    color: #ffffff;
  }
  &:hover {
    background-color: #2196f3;
    color: #ffffff;
  }
}

.social-icon {
  fill: currentColor;
}
